<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<!-- CSP support mode (required for Windows Universal apps): https://docs.angularjs.org/api/ng/directive/ngCsp -->
<html lang="en" ng-app="app" ng-csp>
<head>
    <meta charset="utf-8" />
<!--    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">-->
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />

    <!-- JS dependencies (order matters!) -->
    <!--<script src="scripts/platformOverrides.js"></script>-->
    <script src="lib/angular/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>
    <script src="js/appController.js"></script>

    <!-- CSS dependencies -->
<!--    <link rel="stylesheet" type="text/css" href="css/index.css">-->
    <link rel="stylesheet" href="lib/onsen/css/onsenui.css" />
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-blue-basic-theme.css" />
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" type="text/css" href="css/boardList.css">
    <link rel="stylesheet" type="text/css" href="css/articleList.css">

    <!-- CSP support mode (required for Windows Universal apps) -->
    <link rel="stylesheet" href="lib/angular/angular-csp.css" />


    <!-- --------------- App init --------------- -->

    <title>Open PTT</title>

    <style>
        .tab {
            line-height: 1;
        }

        .tab-icon {
            font-size: 24px;
            padding: 0;
            margin: 0;
            vertical-align: top;
            line-height: 28px;
        }

        .tab-label {
            line-height: 11px;
            vertical-align: top;
            font-size: 11px;
        }

        .profile-wrapper {
            padding: 16px 10px 0 10px;
        }

        .profile-image {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            background-color: #ccc;
        }

        .profile-name {
            font-size: 18px;
            padding: 4px 0 2px 0;
        }

        .profile-email {
            font-size: 15px;
            opacity: 0.4;
        }

        .switch--list-item {
            margin-right: 0px;
        }

        .settings-header {
            font-weight: 500;
            font-size: 14px;
            opacity: 0.4;
            padding: 10px 0 0px 10px;
            margin-bottom: -4px;
        }

        .settings-list {
            margin-top: 10px;
        }

        .item {
            padding: 10px;
            line-height: 1;
        }

        .item-thum {
            background-color: #ccc;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            -webkit-border-radius: 100%;
        }

        .item-title {
            font-size: 15px;
            font-weight: 500;
        }

        .item-desc {
            font-size: 14px;
            color: #666;
            line-height: 1.3;
            margin: 4px 0 0 0;
            padding: 0 30px 0 0;
        }

        .item-label {
            font-size: 12px;
            color: #999;
            float: right;
        }
    </style>

</head>

<body ng-controller="AppController" ng-init="init()">
    <!-- Cordova reference -->
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/uao_b2u_table.js"></script>
    <script type="text/javascript" src="js/uao_u2b_table.js"></script>
    <script type="text/javascript" src="js/uao_conv.js"></script>
    <script type="text/javascript" src="js/stringutil.js"></script>
    <script type="text/javascript" src="js/robot.js"></script>
    <script type="text/javascript" src="js/ansiparser.js"></script>
    <script type="text/javascript" src="js/termbuf.js"></script>
    <script type="text/javascript" src="js/telnet.js"></script>
    <script type="text/javascript" src="js/prefsHandler.js"></script>
    <script type="text/javascript" src="js/bbsCore.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <!-- -->

    <ons-page ng-show='page==="login"'>
      <ons-toolbar>
        <div class="center">Login</div>
        <div class="right"><ons-toolbar-button>Close</ons-toolbar-button></div>
      </ons-toolbar>

      <div class="login-form">

        <input type="text" class="text-input--underbar" placeholder="Username" ng-model="username">
        <input type="password" class="text-input--underbar" placeholder="Password" ng-model="password">
        <ons-list class="remember-me">
        <ons-list-item modifier="tappable">
          <label class="checkbox checkbox--list-item">
            <input type="checkbox" ng-model="savePassword">
            <div class="checkbox__checkmark checkbox--list-item__checkmark"></div>
            Remember password
          </label>
        </ons-list-item>
        </ons-list>
        <ons-button modifier="large" class="login-button" ng-click="login()">Login</ons-button>
      </div>

    </ons-page>
    <ons-tabbar ng-show='page==="main"'>
        <ons-tab active="true" page="home.html">
            <div class="tab">
                <ons-icon icon="ion-home" class="tab-icon"></ons-icon>
                <div class="tab-label">Main menu</div>
            </div>
        </ons-tab>
        <ons-tab page="favorite.html">
            <div class="tab">
                <ons-icon icon="ion-heart" class="tab-icon"></ons-icon>
                <div class="tab-label">Favorites</div>
            </div>
        </ons-tab>
        <ons-tab page="settings.html">
            <div class="tab">
                <ons-icon icon="ion-gear-a" class="tab-icon"></ons-icon>
                <div class="tab-label">Settings</div>
            </div>
        </ons-tab>
    </ons-tabbar>

    <ons-template id="home.html">
        <ons-navigator>
            <ons-page>
                <ons-toolbar>
                    <div class="left"><ons-toolbar-button ng-click="doSomething()"><ons-icon icon="ion-compose"></ons-icon></ons-toolbar-button></div>
                    <div class="center">Home</div>
                    <div class="right"></div>
                </ons-toolbar>

                <ons-list style="margin: -1px 0">
                    <ons-list-item modifier="chevron" class="item" ng-repeat="i in [1,2,3,4,5]" ng-click="doSomething()">
                        <ons-row>
                            <ons-col width="60px">
                                <div class="item-thum"></div>
                            </ons-col>
                            <ons-col>
                                <header>
                                    <span class="item-title">Rorem Ipsum</span>
                                    <span class="item-label">5h</span>
                                </header>
                                <p class="item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </ons-col>
                        </ons-row>
                    </ons-list-item>
                </ons-list>
            </ons-page>
        </ons-navigator>
    </ons-template>
    
    <ons-template id="favorite.html">
        <ons-page ng-show='boardPage==="list"'>
            <ons-list class="plan-list">
              <ons-list-item modifier="chevron" class="plan" ng-repeat="favorite in favoriteList" ng-click="enterBoard(favorite)">
                <ons-row>
                  <ons-col width="80px" class="plan-left">
                    <div class="plan-date">{{favorite.bClass}}</div>
                    <div class="plan-duration">{{favorite.popular}}</div>
                  </ons-col>
    
                  <ons-col width="6px" class="plan-center" ng-style="{backgroundColor:$index % 2 == 1 ? '#3399ff' : '#ccc'}">
                  </ons-col>
    
                  <ons-col class="plan-right">
                    <div class="plan-name">{{favorite.boardName}}</div>
    
                    <div class="plan-info">
                      {{favorite.description}}
                    </div>
                  </ons-col>
                </ons-row>
              </ons-list-item>
            </ons-list>
        </ons-page>
        <ons-page ng-show='boardPage==="article"'>
            <!--TODO:// Fix back button-->
            <ons-toolbar>
                <div class="left"><ons-back-button>Back</ons-back-button></div>
                <div class="center">{{currentBoardName}}</div>
            </ons-toolbar>
            <ons-list class="plan-list">
              <ons-list-item modifier="chevron" class="plan" ng-repeat="article in articleList">
                <ons-row>
                  <ons-col width="100px" class="plan-left">
                    <div class="plan-date">{{article.author}}</div>
                    <div class="plan-date">{{article.aClass}}</div>
                    <div class="plan-duration">{{article.popular}}</div>
                  </ons-col>
    
                  <ons-col width="6px" class="plan-center" ng-style="{backgroundColor:$index % 2 == 1 ? '#3399ff' : '#ccc'}">
                  </ons-col>
    
                  <ons-col class="plan-right">
                    <div class="plan-name">{{article.title}}</div>
    
                    <div class="plan-info">{{article.date}}</div>
                    <div class="plan-info">{{article.sn}}</div>
                  </ons-col>
                </ons-row>
              </ons-list-item>
            </ons-list>
        </ons-page>
    </ons-template>

    <ons-template id="settings.html">
        <ons-page>
            <ons-toolbar>
                <div class="center">Settings</div>
            </ons-toolbar>

            <ons-row class="profile-wrapper">
                <ons-col width="60px" class="profile-image-wrapper">
                    <div class="profile-image"></div>
                </ons-col>

                <ons-col>
                    <div class="profile-name">{{username}}</div>
                    <div class="profile-email">{{nickname}}</div>
                </ons-col>

            </ons-row>

            <div class="settings-header">Login setting</div>

            <ons-list modifier="inset" class="settings-list">
                <ons-list-item>
                    Delete duplicate login
                    <ons-switch modifier="list-item" ng-model="deleteDuplicate" ng-change='switchChange("deleteDuplicate")'></ons-switch>
                </ons-list-item>

                <ons-list-item>
                    Save password
                    <ons-switch modifier="list-item" ng-model="savePassword" ng-change='switchChange("savePassword")'></ons-switch>
                </ons-list-item>
            </ons-list>

            <br>

            <ons-list modifier="inset" class="settings-list">
                <ons-list-item modifier="tappable" ng-click="logout()">
                    <ons-icon icon="ion-log-out" style="opacity: 0.8"></ons-icon>
                    Sign out
                </ons-list-item>
            </ons-list>

            <br>

        </ons-page>
    </ons-template>
</body>
</html>