.plan-list {
  border-top: none;
  background-image: none !important;
}

.plan {
  line-height: 1;
  padding: 0;
}

.plan-left {
  text-align: right;
  padding: 10px 10px 10px 0;
}

.plan-center {
  background-color: #3399ff;
  opacity: 0.5;
}

.plan-right {
  padding: 10px 40px 10px 10px;
}

.plan-date {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 4px;
  font-weight: 500;
}

.plan-duration {
  font-size: 11px;
  opacity: 0.4;
}

.plan-name {
  font-size: 17px;
  margin-bottom: 8px;
}

.plan-info {
  opacity: 0.4;
  font-size: 12px;
  line-height: 1.4;
}

.article-popular-red {
  color: #ff0000;
}

.article-popular-green {
  color: #00ff00;
}

.article-popular-yellow {
  color: #ffff00;
}

.list__item--chevron[status=delete]:before {
  position: absolute;
  right: 16px;
  top: 50%;
  color: #ddd;
  line-height: 28px;
  height: 28px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 28px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  content: "\f105";
  opacity: 0;
}
