.form-row {
  margin: 0px;
}

.width-full {
  width: 100%;
}

input[type=text],
input[type=password] {
  height: 40px;
  outline: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.login-form {
    text-align: center;
    width: 80%;
    margin: 60px auto 0;
}

/*input[type=text], input[type=password] {
    display: block;
    width: 100%;
    margin: 0 auto;
    outline: none;
    padding-top: 24px;
    padding-bottom: 24px;
}*/

.login-button {
    width: 100%;
    margin: 0 auto;
}

.forgot-password {
    display: block;
    margin: 8px auto 0 auto;
    font-size: 14px;
}
.remember-me {
    background-color: transparent;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}