.tab {
    line-height: 1;
}

.tab-icon {
    font-size: 24px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    line-height: 28px;
}

.tab-label {
    line-height: 11px;
    vertical-align: top;
    font-size: 11px;
}

.profile-wrapper {
    padding: 16px 10px 0 10px;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    background-color: #ccc;
}

.profile-name {
    font-size: 18px;
    padding: 4px 0 2px 0;
}

.profile-email {
    font-size: 15px;
    opacity: 0.4;
}

.switch--list-item {
    margin-right: 0px;
}

.settings-header {
    font-weight: 500;
    font-size: 14px;
    opacity: 0.4;
    padding: 10px 0 0px 10px;
    margin-bottom: -4px;
}

.settings-list {
    margin-top: 10px;
}

.item {
    padding: 10px;
    line-height: 1;
}

.item-thum {
    background-color: #ccc;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
}

.item-title {
    font-size: 15px;
    font-weight: 500;
}

.item-desc {
    font-size: 14px;
    color: #666;
    line-height: 1.3;
    margin: 4px 0 0 0;
    padding: 0 30px 0 0;
}

.item-label {
    font-size: 12px;
    color: #999;
    float: right;
}